- content_for :title, "#{@project.name} - Update task"

%h2 Update task
= render 'form_errors'
= form_for [@project, @task] do |f|
  .form_field
    = f.label :name, 'Name (optional)'
    = f.text_field :name
  .form_field
    = f.label :start_date
    = f.date_select :start_date
  .form_field
    = f.label :end_date
    = f.date_select :end_date, include_blank: true
  = submit_tag 'Update'
