- content_for :title, "#{@project.name} - Update task"

%h2 Update task
= render partial: 'shared/form_errors', locals: {item: @task}
= form_for [@project, @task] do |f|
  .form_field
    = f.label :name, 'Name (optional)'
    = f.text_field :name
  .form_field
    = f.label :start_date
    = f.date_select :start_date, start_year: 2013, end_year: Date.today.year
  .form_field
    = f.label :end_date
    = f.date_select :end_date, include_blank: true, start_year: 2013, end_year: Date.today.year
    %a.today_link{href: 'javascript:chooseTodayForEndDate();'} Today
  = submit_tag 'Update'
%hr
%h2 Delete task
= button_to 'Delete task', project_task_path(@project, @task), method: :delete, data: {confirm: 'Are you sure?'}
:javascript
  function chooseTodayForEndDate() {
    var today = new Date();
    document.getElementById('task_end_date_1i').value = today.getFullYear();
    document.getElementById('task_end_date_2i').value = today.getMonth() + 1;
    document.getElementById('task_end_date_3i').value = today.getDate();
  }