- content_for :title, "#{@project.name} - New task"

%h2 New task
= render partial: 'shared/form_errors', locals: {item: @task}
= form_for [@project, @task] do |f|
  .form_field
    = f.label :name, 'Name (optional)'
    = f.text_field :name, autofocus: true
  .form_field
    = f.label :start_date
    = f.date_select :start_date, start_year: 2013, end_year: Date.today.year
  = submit_tag 'Save'
%h2 Import tasks
= link_to 'Import multiple tasks at once', new_project_task_import_path(@project)
