- content_for :title, "#{@project.name} - New task"

%h2 New task
= render 'form_errors'
= form_for [@project, @task] do |f|
  .form_field
    = f.label :name, 'Name (optional)'
    = f.text_field :name
  .form_field
    = f.label :start_date
    = f.date_select :start_date, start_year: 2013, end_year: Date.today.year
  = submit_tag 'Save'
