.stats_item
  .label
    = title
    %br
    (#{unit})
  .data
    .stats_content.left
      .sub_label Total
      .stats_value= left_value
    .stats_content
      .sub_label= right_title
      .stats_value= right_value
    .clear
