- days = @project.days
- wip_per_day = @project.wip_per_day
- throughput = @project.weekly_throughput
%table#data-table
  %tr
    %th Weekly
    - days.each_with_index do |day, i|
      - if i == 0
        %td{colspan: 6 - day.wday}
          = throughput[day.strftime('%W').to_i]
      - elsif day.wday == 1
        %td{colspan: 5}
          = throughput[day.strftime('%W').to_i]
    %th Weekly
  %tr
    %th Day
    - days.each do |day|
      %td= day.strftime('%a')
    %th Day
  %tr
    %th Date
    - days.each do |day|
      %td= day.strftime('%d.%m')
    %th Date
  %tr
    %th WIP
    - days.each do |day|
      %td
        = wip_per_day[day]
    %th WIP
  - @tasks.each_with_index do |task, task_no|
    %tr
      %td= task_no+1
      - days.each do |day|
        - if day < task.start_date || (task.end_date && task.end_date < day)
          %td &nbsp;
        - elsif day == task.start_date
          - work_days_count = task.work_days_count
          - if task.end_date
            %td.active{colspan: work_days_count}= work_days_count
          - else
            %td.unfinished{colspan: work_days_count} ?
      %td= task_no+1
