- dates = @project.dates
- wip_per_day = @project.wip_per_day
- throughput = @project.weekly_throughput
%table#data-table
  %thead
    %tr
      %th Weekly
      - colspan = 0
      - first_date = dates[0]
      - dates.each_with_index do |day, i|
        - if day.cweek == first_date.cweek
          - colspan = colspan + 1
        - if day.cweek != first_date.cweek
          %td{colspan: 2 * colspan}= throughput[first_date.beginning_of_week]
          - colspan = 1
          - first_date = dates[i] if i < dates.length
        - if i + 1 == dates.length
          %td{colspan: 2 * colspan}= throughput[first_date.beginning_of_week]
      %th Weekly
    %tr
      %th Day
      - dates.each do |day|
        %td{colspan: 2}= day.strftime('%a')
      %th Day
    %tr
      %th Date
      - dates.each do |day|
        %td{colspan: 2}= day.strftime('%d.%m')
      %th Date
    %tr
      %th WIP
      - dates.each do |day|
        %td{colspan: 2}
          = wip_per_day[day]
      %th WIP
    %tr#tasks-row
      %th Tasks
      - (dates.length * 2).times do
        %td
      %th Tasks
  %tbody
    - last_index = @tasks.length - 1
    - @tasks.each_with_index do |task, task_no|
      = render partial: 'task_row', locals: {dates: dates, task: task, task_no: task_no, end_anchor: last_index == task_no}
