- dates = @project.dates
- wip_per_day = @project.wip_per_day
- throughput = @project.weekly_throughput
%table#data-table
  %tr
    %th Weekly
    - dates.each_with_index do |day, i|
      - if i == 0
        %td{colspan: 6 - day.wday}
          = throughput[day.strftime('%W').to_i]
      - elsif day.wday == 1
        - colspan = dates.size - i < 5 ? dates.size - i : 5
        %td{colspan: colspan}
          = throughput[day.strftime('%W').to_i]
    %th Weekly
  %tr
    %th Day
    - dates.each do |day|
      %td= day.strftime('%a')
    %th Day
  %tr
    %th Date
    - dates.each do |day|
      %td= day.strftime('%d.%m')
    %th Date
  %tr
    %th WIP
    - dates.each do |day|
      %td
        = wip_per_day[day]
    %th WIP
  - @tasks.each_with_index do |task, task_no|
    %tr
      %td= task_no+1
      - dates.each_with_index do |day, day_index|
        - if day < task.start_date || (task.end_date && task.end_date < day)
          %td &nbsp;
        - elsif day == task.start_date
          - work_days_count = task.work_days_count
          - if task.end_date
            %td.active{colspan: work_days_count}= work_days_count
          - else
            - colspan = dates.length - day_index
            %td.unfinished{colspan: colspan} ?
      %td= task_no+1
