.home_section
  %h2 Welcome to Agiledata
  %div
    Use your whiteboard to manage your tasks. Let Agiledata take care of the statistics.
.home_section
  %h2 Start in 10 seconds
  %div
    No logins required. Just type in your project name and you are ready to go.
  .new_project_form
    = render partial: 'shared/form_errors', locals: {item: @project}
    = form_for @project do |f|
      = f.text_field :name, placeholder: 'Project name', autofocus: true
      = submit_tag 'Start!'
.home_section
  %h2 Or try it out
  = button_to 'Create an example project', example_projects_path, method: :post
.clear
