.home_section
  %h2 Welcome to Agiledata
  %div
    Use your whiteboard to manage your tasks. Let Agiledata take care of the statistics.
.home_section
  %h2 Start in 10 seconds
  %div
    No logins required. Just type in your project name and you are ready to go.
  .new_project_form
    = render partial: 'shared/form_errors', locals: {item: @project}
    = form_for @project do |f|
      .form_field
        = f.label :name, 'Project name'
        = f.text_field :name
      = submit_tag 'Start!'
