- content_for :title, @project.name

- if params[:initial]
  %h2 You did it! Project created!
  Now save this URL and share it to your team mates so you can get here later (remember, no logins):
  .project_url
    = project_url @project

- if @project.tasks.empty?
  = link_to 'Start by adding the first task', new_project_task_path(@project)
- else
  %h2#statistics
    Statistics
    %a.anchor{href: '#statistics'} get here
  .stats_summary
    = render partial: 'stats_item', locals: { title: 'Avg weekly throughput', unit: 'per week',
        left_value: @project.avg_throughput, right_value: @project.avg_throughput(3), right_title: 'Last 3 w' }
    = render partial: 'stats_item', locals: { title: 'Average takt time', unit: 'work days',
        left_value: @project.avg_takt_time, right_value: @project.avg_takt_time(3), right_title: 'Last 3 w' }
    = render partial: 'stats_item', locals: { title: 'Average lead time', unit: 'work days',
        left_value: @project.avg_lead_time, right_value: @project.avg_lead_time(5), right_title: 'Last 5' }
    = render partial: 'stats_item', locals: { title: 'Average WIP', unit: 'per day',
        left_value: @project.avg_wip, right_value: @project.avg_wip(14), right_title: '14 days' }
    = render partial: 'stats_item', locals: { title: 'Avg lead time / WIP', unit: 'work days',
        left_value: @project.avg_days_per_task, right_value: @project.avg_days_per_task(5, 14), right_title: 'Last 5/14d' }
    .clear
  %h2#forecasts
    Forecasts
    %a.anchor{href: '#forecasts'} get here
  How long will it take to build next 10 items?
  .stats_summary
    = render partial: 'stats_item', locals: { title: 'Based on throughput', unit: 'work days',
        left_value: @project.throughput_forecast_for(10), right_value: @project.throughput_forecast_for(10, 3),
        right_title: 'Last 3 w', precision: 0 }
    = render partial: 'stats_item', locals: { title: 'Based on takt time', unit: 'work days',
        left_value: @project.takt_time_forecast_for(10), right_value: @project.takt_time_forecast_for(10, 3),
        right_title: 'Last 3 w', precision: 0 }
    = render partial: 'stats_item', locals: { title: 'Based on lead time / WIP', unit: 'work days',
        left_value: @project.lead_time_wip_forecast_for(10), right_value: @project.lead_time_wip_forecast_for(10, 5, 14),
        right_title: 'Last 5/14d', precision: 0 }
    .clear
  = link_to 'New task', new_project_task_path(@project)
  #table-wrapper
    = render 'table'