- days = @project.days
- wip_per_day = @project.wip_per_day
- throughput = @project.weekly_throughput
%div
  Average lead time:
  = @project.avg_lead_time
  days
%table#data-table
  %tr
    %th Weekly
    - days.each_with_index do |day, i|
      - if i == 0
        %th{colspan: 6 - day.wday}
          = throughput[day.strftime('%W').to_i] || 0
      - elsif day.wday == 1
        %th{colspan: 5}
          = throughput[day.strftime('%W').to_i] || 0
  %tr
    %th Day
    - days.each do |day|
      %th= day.strftime('%a')
  %tr
    %th Date
    - days.each do |day|
      %th= day.strftime('%d.%m')
  %tr
    %th WIP
    - days.each do |day|
      %th
        = wip_per_day[day] || 0
  - @tasks.each_with_index do |task, task_no|
    %tr
      %td= task_no+1
      - days.each do |day|
        - if day < task.start_date || (task.end_date && task.end_date < day)
          %td &nbsp;
        - elsif day == task.start_date
          - work_days_count = task.work_days_count
          - if task.end_date
            %td.active{colspan: work_days_count}= work_days_count
          - else
            %td.unfinished{colspan: work_days_count} ?
