- content_for :title, @project.name

- if @project.example?
  .example_project_info
    You are playing with example project data. You can create new tasks and update or delete the existing ones
    as you wish.
    = link_to 'Back to front page', root_path

- if params[:initial]
  %h2 You did it! Project created!
  Now save this URL and share it to your team mates so you can get here later (remember, no logins):
  .project_url
    = project_url @project

- if @project.tasks.empty?
  = link_to 'Start by adding the first task', new_project_task_path(@project)
- else
  %h2#statistics
    Statistics
    %a.anchor{href: '#statistics'} get here
  .stats_summary
    = render partial: 'stats_item', locals: { title: 'Avg weekly throughput', unit: 'per week',
        left_value: @project.avg_throughput, right_value: @project.avg_throughput(3), right_title: 'Last 3 w' }
    = render partial: 'stats_item', locals: { title: 'Average takt time', unit: 'work days',
        left_value: @project.avg_takt_time, right_value: @project.avg_takt_time(3), right_title: 'Last 3 w' }
    = render partial: 'stats_item', locals: { title: 'Average lead time', unit: 'work days',
        left_value: @project.avg_lead_time, right_value: @project.avg_lead_time(5), right_title: 'Last 5' }
    = render partial: 'stats_item', locals: { title: 'Average WIP', unit: 'per day',
        left_value: @project.avg_wip, right_value: @project.avg_wip(14), right_title: '14 days' }
    = render partial: 'stats_item', locals: { title: 'Avg lead time / WIP', unit: 'work days',
        left_value: @project.avg_days_per_task, right_value: @project.avg_days_per_task(5, 14), right_title: 'Last 5/14d' }
    .clear
  %h2#forecasts
    Forecasts
    %a.anchor{href: '#forecasts'} get here
  How long will it take to build next 10 items?
  = render 'forecasts'
  = link_to 'New task', new_project_task_path(@project)
  #table-wrapper
    = render 'table'